
.App {
  background-color: #343a40; /* Dark background */
  font-family: sans-serif;
}

.App-header {
  text-align: center;
  color: #fff;
  padding: 1rem;
  margin-bottom: 0;
}

.visualizer-grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

/* Shared title style for all algorithms */
.algo-title {
  text-align: left;
  margin-top: 0; 
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
}

.section-title{
  text-align: left;
  padding: 2rem;
  margin-top: 0;
  font-size: 1.4rem;
  color:#fff;
}

